## UNData API Exercise

In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

1. Use the API to get all available data for the _GDP per capita, PPP (constant 2021 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

2. Now, use the API to get all available data for _Life expectancy at birth, total (years)_. This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [2]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import json
import numpy as np

In [3]:
endpoint_GDP = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD?format=json'

params_GDP = {
'per_page': 20000
}

response_GDP = requests.get(endpoint_GDP,params = params_GDP)
response_GDP

In [4]:
GDP_df = pd.json_normalize(response_GDP.json()[1])
GDP_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,4047.007031,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2022,4038.638689,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2021,3994.171654,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2020,3919.499230,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2019,4130.057222,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17019,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17020,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17021,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17022,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17023,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe

In [5]:
endpoint_LE = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json'

params_LE = {
'per_page': 20000
}

response_LE = requests.get(endpoint_LE, params=params_LE)
response_LE

In [6]:
life_expectancy_df = pd.json_normalize(response_LE.json()[1])
life_expectancy_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2022,62.899031,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2021,62.454590,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2020,63.313860,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2019,63.755678,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17019,ZWE,1964,54.994000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17020,ZWE,1963,54.549000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17021,ZWE,1962,54.071000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17022,ZWE,1961,53.619000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17023,ZWE,1960,53.235000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

In [7]:
GDP_df = GDP_df.rename(columns=
              {'countryiso3code' : 'Country_Code',  
               'country.id' : 'Country_ID', 
               'country.value' : 'Country_Value',
               'date' : 'Date',
               'value' : 'GDP_Per_Capita'})

In [8]:
GDP_df = GDP_df.drop(['unit', 'obs_status', 'decimal','indicator.id', 'indicator.value'], axis=1)
GDP_df

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value
0,AFE,2023,4047.007031,ZH,Africa Eastern and Southern
1,AFE,2022,4038.638689,ZH,Africa Eastern and Southern
2,AFE,2021,3994.171654,ZH,Africa Eastern and Southern
3,AFE,2020,3919.499230,ZH,Africa Eastern and Southern
4,AFE,2019,4130.057222,ZH,Africa Eastern and Southern
...,...,...,...,...,...
17019,ZWE,1964,NaN,ZW,Zimbabwe
17020,ZWE,1963,NaN,ZW,Zimbabwe
17021,ZWE,1962,NaN,ZW,Zimbabwe
17022,ZWE,1961,NaN,ZW,Zimbabwe
17023,ZWE,1960,NaN,ZW,Zimbabwe

In [9]:
life_expectancy_df = life_expectancy_df.rename(columns=
              {'countryiso3code' : 'Country_Code',
               'country.id' : 'Country_ID', 
               'country.value' : 'Country_Value',
               'date' : 'Date',
               'value' : 'Life_Expectancy'})

In [10]:
life_expectancy_df = life_expectancy_df.drop(['unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value'], axis=1)
life_expectancy_df

,Country_Code,Date,Life_Expectancy,Country_ID,Country_Value
0,AFE,2023,NaN,ZH,Africa Eastern and Southern
1,AFE,2022,62.899031,ZH,Africa Eastern and Southern
2,AFE,2021,62.454590,ZH,Africa Eastern and Southern
3,AFE,2020,63.313860,ZH,Africa Eastern and Southern
4,AFE,2019,63.755678,ZH,Africa Eastern and Southern
...,...,...,...,...,...
17019,ZWE,1964,54.994000,ZW,Zimbabwe
17020,ZWE,1963,54.549000,ZW,Zimbabwe
17021,ZWE,1962,54.071000,ZW,Zimbabwe
17022,ZWE,1961,53.619000,ZW,Zimbabwe
17023,ZWE,1960,53.235000,ZW,Zimbabwe

In [11]:
merged_GDP_le = pd.merge(GDP_df, life_expectancy_df, how="inner", on = ["Country_Code", "Date", "Country_ID", "Country_Value"])
merged_GDP_le.head()

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value,Life_Expectancy
0,AFE,2023,4047.007031,ZH,Africa Eastern and Southern,NaN
1,AFE,2022,4038.638689,ZH,Africa Eastern and Southern,62.899031
2,AFE,2021,3994.171654,ZH,Africa Eastern and Southern,62.454590
3,AFE,2020,3919.499230,ZH,Africa Eastern and Southern,63.313860
4,AFE,2019,4130.057222,ZH,Africa Eastern and Southern,63.755678

In [12]:
endpoint_country = 'https://api.worldbank.org/v2/country/all?format=json'

params_country = {
'per_page': 300
}

response_country = requests.get(endpoint_country, params = params_country)
response_country

In [13]:
country_df = pd.json_normalize(response_country.json()[1])
country_df.head()

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates

In [14]:
country_df = country_df.rename(columns=
              {'name': 'Country_Value',
               'id': 'Country_Code',
              'iso2Code': 'Country_ID'}
)
country_df

,Country_Code,Country_ID,Country_Value,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,Middle East & North Africa,MNA,XQ,Middle East & North Africa (excluding high inc...,LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [64]:
merged_GDP_le_country = pd.merge(merged_GDP_le, country_df, how="inner", on= ["Country_Code", "Country_ID", "Country_Value"])
merged_GDP_le_country

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value,Life_Expectancy,capitalCity,longitude,latitude,region.id,...,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,AFE,2023,4047.007031,ZH,Africa Eastern and Southern,NaN,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
1,AFE,2022,4038.638689,ZH,Africa Eastern and Southern,62.899031,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFE,2021,3994.171654,ZH,Africa Eastern and Southern,62.454590,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
3,AFE,2020,3919.499230,ZH,Africa Eastern and Southern,63.313860,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFE,2019,4130.057222,ZH,Africa Eastern and Southern,63.755678,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16571,ZWE,1964,NaN,ZW,Zimbabwe,54.994000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16572,ZWE,1963,NaN,ZW,Zimbabwe,54.549000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16573,ZWE,1962,NaN,ZW,Zimbabwe,54.071000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16574,ZWE,1961,NaN,ZW,Zimbabwe,53.619000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16575,ZWE,1960,NaN,ZW,Zimbabwe,53.235000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [66]:
merged_GDP_le_country = merged_GDP_le_country[merged_GDP_le_country['region.id'] != 'NA']
merged_GDP_le_country

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value,Life_Expectancy,capitalCity,longitude,latitude,region.id,...,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
2688,AFG,2023,NaN,AF,Afghanistan,NaN,Kabul,69.1761,34.5228,SAS,...,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
2689,AFG,2022,1955.212904,AF,Afghanistan,62.879,Kabul,69.1761,34.5228,SAS,...,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
2690,AFG,2021,2138.870247,AF,Afghanistan,61.982,Kabul,69.1761,34.5228,SAS,...,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
2691,AFG,2020,2776.561521,AF,Afghanistan,62.575,Kabul,69.1761,34.5228,SAS,...,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
2692,AFG,2019,2933.958598,AF,Afghanistan,63.565,Kabul,69.1761,34.5228,SAS,...,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16571,ZWE,1964,NaN,ZW,Zimbabwe,54.994,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16572,ZWE,1963,NaN,ZW,Zimbabwe,54.549,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16573,ZWE,1962,NaN,ZW,Zimbabwe,54.071,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16574,ZWE,1961,NaN,ZW,Zimbabwe,53.619,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16575,ZWE,1960,NaN,ZW,Zimbabwe,53.235,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the Country API. Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.